<plist version="1.0">
  <dict>
    <key>URL</key>
	<dict>
      <key>TabloLive</key>
      <dict>
        <key>URLPatterns</key>
        <array>
          <string>tablo://(.*)channel([\s\S]*)</string>
        </array>
      </dict>
      <key>TabloRecording</key>
      <dict>
        <key>URLPatterns</key>
        <array>
          <string>tablo://(.*)TabloRecording([\s\S]*)</string>
        </array>
      </dict>
    </dict>
  </dict>
</plist>